.search {
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 30px;
    white-space: nowrap;
    align-items: center;
    margin-bottom: 300px;

}


.search div {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: white;
    width: 600px;
    height: 70px;
    border-radius: 80px;
    border: 1px solid #e3e3e3;

}

.search input {
    width: 500px;
    margin-left: 30px;
    border: none;
    outline: none;
    color: #616161;
    font-size: 16px;
}