.navbar {
    display: flex;
    justify-content: space-around;
    padding: 16px;
    box-shadow: 0 1px 3px -2px black;
}

.nav-logo {
    display: flex;
    align-items: center;
    gap: 10px
}

.nav-logo h1 {
    color: black;
    font-size: 30px;
    font-weight: 400;

}

.nav-logo p {
    color: rgb(247, 69, 69);
    font-weight: 700;
    font-size: 38px;
}

.nav-menu {
    display: flex;
    align-items: center;
    list-style: none;
    gap: 50px;
    font-size: 20px;

}

.nav-menu li {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-weight: 500;
    font-style: italic;
    gap: 3px;
    cursor: pointer;
    color: orangered;
    font-size: 20px;
}

.nav-menu hr {
    border: none;
    width: 80%;
    height: 3px;
    border-radius: 10px;
    background-color: crimson;

}

.nav-login-cart {
    display: flex;
    align-items: center;
    gap: 45px;

}

.nav-login-cart button {
    color: #2e2525;
    font-size: 20px;
    font-weight: 400;
    width: 50px;
    height: 50px;
    outline: none;
    border: none;
    background-color: white;
    font-style: italic;
    cursor: pointer;
}

/*màu khi click vào button login*/
.nav-login-cart button:active {
    background: #7a7474;
}

.nav-cart-count {
    width: 22px;
    height: 22px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: -35px;
    margin-left: -55px;
    border-radius: 11px;
    font-size: 14px;
    background-color: red;
    color: white;
}

@media(max-width: 1280px) {
    .navbar {
        padding: 12px 50px;
    }

    .nav-logo img {
        width: 40px;
    }

    .nav-logo p {
        font-size: 25px;
    }
}